{% extends "base.html" %}

{% block title %}Login - PrepCampus{% endblock %}

{% block content %}
<style>
        .form-group {
        margin-top: 25px;
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: 600;
        color: #333;
    }

    input {
        width: 100%;
        padding: 13px;
        border: 1px solid #ccc;
        border-radius: 7px;
        font-size: 15px;
        outline: none;
    }

    input:focus {
        border-color: #007bff;
    }

    button {
        width: 100%;
        margin-top: 20px;
        padding: 13px;
        border: none;
        border-radius: 7px;
        background: #007bff;
        color: white;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    button:hover {
        background: #0069d9;
    }

</style>

<div class="header university-header">
    <div class="university-info">
        <a href="{{ url_for('login') }}" class="back-button"><i class="fas fa-arrow-left"></i></a>
        <h2>Forgot password?</h2>
    </div>
</div>


<form method="POST">

    <div class="password-field">
        <input
            type="password"
            id="password"
            name="password"
            placeholder="New password"
            required
        >

        <button type="button" onclick="togglePassword('password', this)">
            <i class="fa-solid fa-eye"></i>
        </button>
    </div>

    <div class="password-field">
        <input
            type="password"
            id="confirm_password"
            name="confirm_password"
            placeholder="Confirm new password"
            required
        >

        <button type="button" onclick="togglePassword('confirm_password', this)">
            <i class="fa-solid fa-eye"></i>
        </button>
    </div>

    <button type="submit">
        Reset Password
    </button>

</form>

<script>
function togglePassword(inputId, button) {
    const input = document.getElementById(inputId);
    const icon = button.querySelector('i');

    if (input.type === 'password') {
        input.type = 'text';
        icon.classList.remove('fa-eye');
        icon.classList.add('fa-eye-slash');
    } else {
        input.type = 'password';
        icon.classList.remove('fa-eye-slash');
        icon.classList.add('fa-eye');
    }
}
</script>


{% endblock %}
